* {
    box-sizing: border-box
}

header {
    display: flex;
    background-color: gray;
}

nav {
    width: 960px;
    margin: .5rem auto;
    display: inline-flex;
}
nav ul {
    display: flex;
    margin: 50px;
    justify-content: space-between;
    width: 100%;
    font-size: 30px;
}
nav li {
    border: solid purple 5px;
    margin: auto;
    justify-content: space-between;
}
a {
    display: flex;
}

main img {
    margin-bottom: 30px;
    background-color: black;
}
main {
    width: 960px;
    margin: 30px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}